* {
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;

    list-style: none;
}

body {
    background-color: #e3e5e8;
}


.pokemon {
    background-color:#27b69c;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 200px;
    height: 700;
    
}

 img {
    max-width: 70%;
    height: 80px;
    margin: 10px;
    
}

.nomePoke {
    font-size: .8rem;
}

.pokemon .numeroPok {
    margin: 0;
    text-align: right;
    font-size: .4rem;
}

.pokemon .type {
   
    font-size: .5rem;
    border: none;
    color: #fff;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    background-color:#2ec0a5;
    height: 12px;
}

.especifica {
    background-color: #fff;
    margin: .5rem;
    padding: 1rem;
    padding-top: 5px;
    border-radius: 1rem;
    max-width: 200px;
    height: 700;
    margin-top: -45px;

}
.about{
    font-size: .4rem;
}

.detalPoke {
    display: flex;
    flex-direction: row;
    font-size: .4rem;
    text-align: justify;
}

ol {
    margin: 0;
    padding: 0;
}

.infoPoke{
    color: rgb(172, 168, 168);
}
.resPoke {
    padding-left: 20px;
}
